[database]
DB_HOST = "localhost"
DB_NAME = "resurgence";or_any_dbname
DB_USER = "root";or_any_other_user
DB_PASS = "your_strong_password_here"
DB_CHARSET = "utf8mb4"
ALLOWED_ORIGIN = "https://yourfrontend.com"


;online
;[database]
;host = "hostname"
;port = portnumber
;user = "your_username_here"
;pass = "your_strong_password_here"
;dbname = "your_dbname"
;ca_cert = "path_to_your_certificate"
;DB_CHARSET = "utf8mb4"_you_need_to_manually_alter_all_tables_to_CHARSETcollate
;
;[server]
;allowed_origin = "*_or_anything_you_want"
